nav {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

.links_st {
    display: flex;
    justify-content: flex-end;
    color: aliceblue;
}

.links_st a {
    color: aliceblue;
}

@media only screen and (max-width: 768px) {
    .links_st {
        margin-top: 30px;
        display: grid;
        justify-content: center;
    }

    .logo_st{
        display: grid;
        justify-content: center;
    }
}