.table_st {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.5;
  padding: 60px 50px;
  border: 2px solid transparent;
  border-radius: 10px;
  width: inherit;
  color: aliceblue;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mobile-label {
    /* width: 40%; */
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }

  .info_st {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  mat-cell{
    /* padding-top: 10px;
    padding-bottom: 10px; */
    padding-left: 0px!important;
    padding-right: 0px!important;
    display: grid;
    align-self: center;
  }
}

.load_st {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

mat-header-cell, mat-cell{
  justify-content: center;
}

.btn_div_st {
  text-align: center;
}
