<div>
  <div class="container cont_st">
    <div class="form_st animate__animated animate__fadeIn col-md-7">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group input_name_st animate__animated animate__fadeInUp">
          <label for="name">Nombre</label>
          <input class="form-control mt-1" type="text" id="name" name="name" minlength="4" placeholder="Ingresa tu nombre" #name="ngModel" [(ngModel)]="user.name" [ngClass]="{'is-valid': !name.invalid, 'is-invalid':name.invalid && (name.dirty || name.touched)}" required>
          <div class="invalid-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors?.minlength">
              Introduzca un nombre con 4 caracteres mínimo
            </div>
            <div *ngIf="name.errors?.required">
              El nombre es requerido
            </div>
          </div>
        </div>
        <div class="form-group mt-2 input_lastname_st animate__animated animate__fadeInUp">
          <label for="lastname">Apellido</label>
          <input class="form-control mt-1" type="text" id="lastname" name="lastname" minlength="4" placeholder="Ingresa tu apellido" #lastname="ngModel" [(ngModel)]="user.lastname" [ngClass]="{'is-valid': !lastname.invalid, 'is-invalid':lastname.invalid && (lastname.dirty || lastname.touched)}" required>
          <div class="invalid-feedback" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
            <div *ngIf="lastname.errors?.minlength">
              Introduzca un apellido con 4 caracteres mínimo
            </div>
            <div *ngIf="lastname.errors?.required">
              El apellido es requerido
            </div>
          </div>
        </div>
        <div class="form-group mt-5 btn_submit_st animate__animated animate__fadeInUp">
          <button type="submit" class="btn btn-success btn_st" [disabled]="!form.valid">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="onLoad" class="load_st">
  <app-load></app-load>
</div>
